#headline {
  font-size: 2em;
  font-weight: 700;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

#byline {
  font-size: 1em;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  text-align: center;
}

#chapter {
  font-size: 2em;
  font-weight: 700;
  text-align: left;
  font-family: 'Raleway', sans-serif;
}

h3 {
  font-size: 1.5em;
  font-weight: 700;
  color: #f23030;
  text-align: left;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  padding-top: 15px;
  padding-bottom: 10px;
}

p {
  font-family: 'Libre Baskerville', serif;
  line-height: 180%;
  font-size: 16px;
}

.container {
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 30px;
  padding-bottom: 10px;
}

/* Top Hat/Top Nav */
.nav-top {
  color: white;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: 700;
}

.red {
  color: #f23030;
}
/* End of Top Hat/Top Nav */


/* Hero Splash Style */

.hero-container {
    position: relative;
    text-align: center;
    color: #fff;
}

.hero-image {
    width: 100%;
}

.overlay {
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
  background-color: #fff;
  opacity: .6;
}


.hero-hed {
  font-family: 'Libre Baskerville', serif;
  font-weight: 600;
  font-size: 4em;
  text-transform: inherit;
  color: #f23030;
  margin: 0 auto;
  padding-bottom: 20px;
}

.hero-sub {
  font-family: 'Raleway', sans-serif;
  font-size: .25em;
  color: black;
}

/* End Hero Splash Area */

/* Media Queries */

@media (max width: 800px) {

  .hero-hed {
    font-size: 1.5em;
  }
}

.intro-graf {
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
  font-weight: 500;
  color: #f23030;
  padding-bottom: 30px;
}

/* Photo/Figure Caption Style */

.caption {
  font-family: 'Raleway', sans-serif;
  text-align: left;
  font-weight: 500;
  font-size: .5em;
  color: #f23030;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.pictures {
 display: block;
 margin-left: auto;
 margin-right: auto;
 width= 80%;
}

.contributors {
  font-family: 'Raleway', sans-serif;
  text-align: left;
  font-weight: 300;
  color: #f23030;
  padding-top: 10px;
  padding-bottom: 20px;
}

.headings {
 text-align: center;
 padding-bottom: 10px;
}

.footer {
  position: static;
  height: 100px;
  width: 100%;
  bottom: 0;
  background-color: black;
  text-align: center;
  color: white;
}

.columns {
  font-family: 'Libre Baskerville', serif;
  text-align: center;
}
