#headline {
  font-size: 3em;
  font-weight: 700;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

#byline {
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: center;
}

#chapter {
  font-size: 2em;
  font-weight: 700;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: Georgia, serif;
  line-height: 180%;
  font-size: 1em;
}

.container {
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 30px;
  padding-bottom: 10px;
}

/* Top Hat/Top Nav */
.nav-top {
  color: white;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: 700;
}

.red {
  color: #f23030;
}
/* End of Top Hat/Top Nav */


/* Hero Splash Style */

.hero-container {
    position: relative;
    text-align: center;
    color: #fff;
}

.hero-image {
    width: 100%;
}

.overlay {
  position: absolute;
  margin: 0 auto; left: 0; right: 0;
  top: 0%;
  width: 47%;
  background-color: black;
  opacity: .8;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.hero-hed {
  font-family: 'Montserrat', serif;
  font-weight: 900;
  font-size: 3em;
  color: #fff;
  margin: 0 auto;
  padding-bottom: 10px;
}

.hero-sub {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
}

/* End Hero Splash Area */



/* Photo/Figure Caption Style */
figcaption {
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  font-weight: 300;
  font-size: 1em;
  margin-left: 70px;
  margin-right: 60px;
}

.pictures {
 display: block;
 margin-left: auto;
 margin-right: auto;
 width= 80%;
}


.headings {
 text-align: center;
 padding-bottom: 10px;
}

.footer {
  position: static;
  height: 100px;
  width: 100%;
  bottom: 0;
  background-color: black;
  text-align: center;
  color: white;
}

.columns {
  font-family: Georgia, serif;
  text-align: center;
}
