/* styles for my resume */

body {
  font-family: 'Open Sans', Arial, sans-serif;
  color: #444;
  font-weight: 400;
}

/* Name below */
#name {
  color: #33485e;
  text-transform: uppercase;
  font-size: 3em;
  font-weight: 500;
  text-align: center;
  border-bottom: 1px solid #33485e;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
}

/* Current title occupation below */

#title {
  text-align: center;
  font-weight: 600;
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  color: #33485e;
  text-transform: uppercase;
  font-size: 1.5em;
}

/* Job title  below */
.sectionheader {
  color: #FFFFFF;
  background-color: #33485e;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
  width: 70%;
  min-width: 300px;
}

#container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

}

/* Job title held below */
.jobtitle {
  font-weight: 600;
  font-size: 1.5em;
}

/* Job organization below */
.organization {
  font-weight: 400;
  font-size: 1.25em;
}

/* Dates of employment below */
.date {
  font-weight: 400;
  font-size: 1em;
  font-style: italic;
  margin-top: 2px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}

/* Description of jobs below */
.description {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
}

/* Contact and Skills list below */
.menu {
  margin: 0px; padding: 0px;
  text-align: center;
}

/* Targets list to be horizontal nav */
.menu ul li {
   display:inline;
}

/* List of Education below */
.degrees {
  margin-top: 5px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}

/* List of Skills below */
.do {
  margin-top: 5px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}

li {
  font-size: 1em;
}
