/* styles for my resume */

body {
  font-family: 'Open Sans', Arial, sans-serif;
  color: #444;
  font-weight: 400;
}

/* Name below */
h1 {
  color: #33485e;
  text-transform: uppercase;
  font-size: 3em;
  text-align: center;
}

/* Current title occupation below */
strong {
  color: #33485e;
  text-transform: uppercase;
  font-size: 1.5em;
}

/* Job title  below */
h2 {
  color: #FFFFFF;
  background-color: #33485e;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 400;
}

/* Job title held below */
h3 {
  font-weight: 600;
  font-size: 1.5em;
}

/* Job organization below */
h4 {
  font-weight: 400;
  font-size: 1.5em;
}

/* Dates of employment below */
h5 {
  font-weight: 400;
  font-size: 1em;
  font-style: italic;
}

/* Contact and Skills list below */
li {
  font-size: 1em;
}
