

#byline {
font-family: Helvetica, sans-serif;
font-size: 14px;
font-style: italic;
}

h1 {
color: #999999;
font-family: helvetica, sans-serif;
font-size: 18px;
font-weight: bold;
margin-top: 0px;
margin-bottom: 10px;
}

p {
  font-family: georgia, serif;
  font-size: 13px;
}

img {
  width: 100%;
}

#graphic {
  width: 100%;
}

#caption {
  color: #999999;
  font-family: georgia;
  font-size: 12px;
  margin-top: 0px;
  margin-bottom: 20px;
}

#source {
  font-famrily: georgia;
  font-size: 10px;
}

#content {
  margin: 0 auto;
  width: 900px;
}

blockquote {
font: 24px normal helvetica, sans-serif;
font-style: italic;
margin-top: 25px;
margin-bottom: 25px;
color: gray;
margin-left: 50px;
padding-left: 15px;
border-left: 4px solid #ccc;
}
